Repository uc-cdis/fence, pull requests merged in 2020-08, with the labels that each got.

#803 (PXP-6419) : Refresh Token Management
  fence/blueprints/login/ras.py
  fence/config-default.yaml
  fence/models.py
  fence/resources/openid/idp_oauth2.py
  fence/resources/openid/ras_oauth2.py
Labels: test-google-googleDataAccessTest

#808 default config RAS minor fix
  fence/config-default.yaml
Labels: test-google-googleDataAccessTest

#817 chore(monitoring): Adopt new pybase img version.
  Dockerfile
Labels: test-apis-rasIntegrationTest

#818 Add ORCID to IDPs in readme
  README.md
Labels: doc-only

#824 Fix/ras url
  fence/config-default.yaml
  fence/resources/openid/ras_oauth2.py
  tests/test-fence-config.yaml
Labels: jenkins-dcp, test-apis-rasIntegrationTest

#826 fix(EA-usersync): Changed usersync to only create the new EA resource…
  fence/sync/sync_users.py
  tests/dbgap_sync/conftest.py
Labels: test-google-googleServiceAccountTest

#829 (PXP-6618) Use fence-create to modify urls and allowed scopes.
  bin/fence-create
  fence/__init__.py
  fence/resources/google/access_utils.py
  fence/resources/openid/idp_oauth2.py
  fence/scripting/fence_create.py
  fence/scripting/google_monitor.py
  tests/google/test_access_utils.py
  tests/google/test_service_accounts.py
  tests/link/test_link.py
  tests/login/test_google_login.py
  tests/scripting/test_fence-create.py
Labels: test-google-googleServiceAccountTest
