Repository uc-cdis/fence, pull requests merged in 2020-09, with the labels that each got.

#815 (PXP-6470) Use refresh token to update visa
  fence/blueprints/admin.py
  fence/blueprints/data/indexd.py
  fence/error_handler.py
  fence/errors.py
  fence/jwt/errors.py
  fence/oidc/errors.py
  fence/resources/openid/idp_oauth2.py
  fence/resources/openid/ras_oauth2.py
  fence/resources/user/user_session.py
  fence/utils.py
  tests/ras/test_ras.py
Labels: test-apis-rasIntegrationTest

#833 Fix: Consent deny redirect bug
  fence/blueprints/login/base.py
Labels: test-apis-rasIntegrationTest

#776 Feat/delete flow authz
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/indexd.py
  fence/resources/aws/boto_manager.py
  requirements.txt
  tests/data/test_data.py
Labels: test-google-googleDataAccessTest

#838 Fix(RAS): Deny redirects to default client redirect_uri
  fence/blueprints/login/base.py
Labels: test-google-GoogleServiceAccountRemoval

#840 fix: remove SIX from requirements.txt
  requirements.txt
Labels: test-apis-dbgapTest
