Repository uc-cdis/fence, pull requests merged in 2020-06, with the labels that each got.

#780 PXP-4787 Enable allowed scopes to be specified in fence-create’s client-create command
  README.md
  bin/fence-create
  fence/utils.py
  tests/scripting/test_fence-create.py
Labels: test-apis-dataUploadTest

#782 add program/project info to user.yaml guide
  docs/user.yaml_guide.md
  tests/google/test_service_accounts.py
Labels: test-apis-linkGoogleAccountTest

#785 PXP-5256 Fix broken authorization page login for users with many projects
  fence/config-default.yaml
  fence/resources/openid/google_oauth2.py
  tests/login/test_google_login.py
Labels: test-google-googleDataAccessTest

#745 Chore/dbgap backup
  bin/fence-create
  docs/usersync.md
  fence/scripting/fence_create.py
  fence/sync/sync_users.py
  requirements.txt
Labels: test-apis-dbgapTest
