Repository uc-cdis/fence, pull requests merged in 2020-07, with the labels that each got.

#790 re-fix dependencies
  requirements.txt
  setup.py
Labels: test-google-googleDataAccessTest

#787 PXP-6047 Support RAS as idp
  README.md
  fence/__init__.py
  fence/blueprints/login/__init__.py
  fence/blueprints/login/ras.py
  fence/config-default.yaml
  fence/resources/openid/ras_oauth2.py
  tests/login/test_login_redirect.py
  tests/test-fence-config.yaml
Labels: test-google-googleDataAccessTest

#786 PXP-2799 Access token hash
  fence/blueprints/oauth2.py
  fence/jwt/token.py
  fence/oidc/jwt_generator.py
  tests/oidc/core/token/test_id_token.py
Labels: test-google-googleDataAccessTest

#796 refactor(auth-code): use code from Grant class attrs
  fence/oidc/grants/oidc_code_grant.py
Labels: test-google-googleDataAccessTest

#797 fix(client-create-output): Improve output for fence-create client-create
  fence/scripting/fence_create.py
Labels: test-apis-dbgapTest

#789 feat(upload): make /data/upload/GUID actually allow data upload, allo…
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/indexd.py
  fence/scripting/fence_create.py
  openapis/swagger.yaml
  tests/conftest.py
  tests/data/test_data.py
Labels: test-google-googleDataAccessTest

#795 feat(google): keep track of user access per group and do a "bulk" upd…
  fence/config-default.yaml
  fence/resources/google/access_utils.py
  fence/resources/storage/__init__.py
  fence/sync/sync_users.py
Labels: test-google-googleDataAccessTest

#798 (fix) RAS perefer UserID
  fence/resources/openid/ras_oauth2.py
Labels: test-apis-OAuth2Test

#799 PXP-6406 Feat/ga4gh scope
  TECHDEBT.md
  fence/config-default.yaml
  fence/jwt/token.py
  fence/resources/user/__init__.py
  tests/oidc/core/token/test_token_response.py
Labels: test-google-googleDataAccessTest

#807 Document NIH login issue
  docs/fence_shibboleth.md
Labels: doc-only

#809 Add ga4gh scope description
  fence/config-default.yaml
  fence/jwt/token.py
  fence/resources/openid/ras_oauth2.py
Labels: test-portal-indexingPageTest
