Repository uc-cdis/fence, pull requests merged in 2021-05, with the labels that each got.

#911 Documentation about public data
  docs/user.yaml_guide.md
Labels: doc-only

#864 task(Observability): Introduce prometheus-flask-exporter and enable monitoring for presigned urls
  Dockerfile
  clear_prometheus_multiproc
  deployment/uwsgi/uwsgi.ini
  fence/__init__.py
  fence/blueprints/data/indexd.py
  poetry.lock
  pyproject.toml
  run.py
  tests/data/test_data.py
Labels: test-portal-homepageTest

#913 chore(observability): Feature flag for Prometheus metrics
  .secrets.baseline
  fence/__init__.py
  fence/config-default.yaml
  tests/test-fence-config.yaml
Labels: test-apis-dbgapTest

#918 chore(docs): update some docs, also make sure to use jsonify for corr…
  .secrets.baseline
  docs/fence_shibboleth.md
  openapis/swagger.yaml
Labels: test-apis-dataUploadTest

#921 fix(google_sa): new endpoint should replicate exactly what SA signed …
  .secrets.baseline
  fence/blueprints/google.py
  tests/conftest.py
Labels: test-apis-dbgapTest
