Repository uc-cdis/fence, pull requests merged in 2021-06, with the labels that each got.

#929 chore(tag): update pyproject version to 5.0.0
  pyproject.toml
Labels: test-google-googleServiceAccountKeyTest

#923 PXP-7805 Push audit logs to an AWS SQS
  .secrets.baseline
  fence/__init__.py
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/indexd.py
  fence/blueprints/login/__init__.py
  fence/blueprints/login/base.py
  fence/blueprints/oauth2.py
  fence/config-default.yaml
  fence/models.py
  fence/resources/admin/admin_users.py
  fence/resources/audit/client.py
  fence/resources/audit/utils.py
  fence/resources/audit_service_client.py
  fence/resources/openid/ras_oauth2.py
  fence/sync/sync_users.py
  fence/utils.py
  tests/conftest.py
  tests/data/test_data.py
  tests/login/test_login_redirect.py
  tests/test-fence-config.yaml
  tests/test_audit_service.py
Labels: test-portal-homepageTest

#927 (PXP-8286): fix(google): add redirect validation to /link/google
  fence/blueprints/link.py
Labels: test-apis-linkGoogleAccountTest, test-google-googleDataAccessTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest

#934 feat(email): populate email from IdPs, update deprecated .warn to .wa…
  .pre-commit-config.yaml
  fence/auth.py
  fence/blueprints/login/base.py
  fence/blueprints/login/fence_login.py
  fence/resources/openid/idp_oauth2.py
  fence/resources/openid/ras_oauth2.py
  tests/oidc/discovery/test_configuration.py
Labels: test-google-googleServiceAccountTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest

#912 Chore/update sign url
  fence/blueprints/data/indexd.py
  poetry.lock
  pyproject.toml
Labels: test-google-googleServiceAccountKeyTest, test-google-googleServiceAccountTest

#936 fix(fence-idp-jwt-val): Patch to expect old style tokens
  fence/blueprints/login/fence_login.py
Labels: test-apis-OAuth2Test, test-portal-homepageTest, test-portal-loginPageTest

#928 (PXP-7717) Implement ad-hoc usersync for single user after logging in through RAS
  fence/blueprints/login/ras.py
  fence/config-default.yaml
  fence/sync/sync_users.py
  poetry.lock
  pyproject.toml
Labels: test-apis-dbgapTest

#940 fix(pkey-from-arg): Respect public_key arg
  fence/jwt/validate.py
Labels: test-google-googleServiceAccountTest
