Repository uc-cdis/fence, pull requests merged in 2021-03, with the labels that each got.

#877 (PXP-7539): Fix/populate idp for user info
  fence/auth.py
  fence/blueprints/login/base.py
  fence/blueprints/login/fence_login.py
  fence/blueprints/login/shib.py
  tests/login/test_login_user.py
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountKeyTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest

#843 Fix/usersync update role
  .pre-commit-config.yaml
  fence/sync/sync_users.py
Labels: test-google-googleServiceAccountRemovalTest

#881 docs(Accessing Data): Fixed broken link to #create-user-access-file
  README.md
Labels: doc-only

#886 (Doc): Update swagger to include upstream_expires_in param
  openapis/swagger.yaml
Labels: doc-only

#834 (PXP-6755) Allow user to authenticate without RAS visa.
  fence/auth.py
  fence/resources/openid/ras_oauth2.py
  poetry.lock
Labels: test-apis-dataUploadTest

#885 PXP-7447 audit-service integration
  .secrets.baseline
  fence/__init__.py
  fence/auth.py
  fence/blueprints/data/indexd.py
  fence/blueprints/login/base.py
  fence/blueprints/login/fence_login.py
  fence/blueprints/login/ras.py
  fence/blueprints/login/shib.py
  fence/blueprints/login/synapse.py
  fence/blueprints/oauth2.py
  fence/config-default.yaml
  fence/resources/audit_service_client.py
  fence/resources/google/validity.py
  fence/resources/user/__init__.py
  fence/resources/userdatamodel/userdatamodel_project.py
  fence/sync/sync_users.py
  pull_request_template.md
  tests/conftest.py
  tests/login/test_fence_login.py
  tests/oidc/conftest.py
  tests/test-fence-config.yaml
  tests/test_audit_service.py
Labels: test-apis-OAuth2Test

#888 Add _status and _version endpoints to Swagger doc
  .secrets.baseline
  openapis/swagger.yaml
  tests/link/test_link.py
  tests/test-fence-config.yaml
Labels: doc-only
