Repository uc-cdis/fence, pull requests merged in 2021-07, with the labels that each got.

#939 PXP-2240: Add monitoring SA email in error msg
  fence/blueprints/google.py
  poetry.lock
Labels: test-apis-rasIntegrationTest, test-google-googleServiceAccountTest

#943 fix(multifence-validation): allow old AND new style id tokens
  fence/blueprints/login/fence_login.py
Labels: test-google-googleServiceAccountRemovalTest

#944 Create local_multi_fence.md
  docs/local_multi_fence.md
Labels: doc-only

#941 chore(pybase3): Update pybase img de novo
  Dockerfile
  pyproject.toml
Labels: test-portal-homepageTest

#949 PXP-8318 Split public and private audit configs
  .secrets.baseline
  fence/__init__.py
  fence/blueprints/data/indexd.py
  fence/config-default.yaml
  fence/resources/audit/client.py
Labels: test-google-googleServiceAccountKeyTest, test-guppy-guppyTest

#938 feat(google): only update Google IAM for Billing when there's no cach…
  fence/blueprints/data/indexd.py
Labels: test-google-googleServiceAccountTest

#948 Feat/atlas hacks
  .secrets.baseline
  docs/local_multi_fence.md
  fence/blueprints/user.py
  fence/jwt/keys.py
  fence/resources/user/__init__.py
  tests/rfc7517/test_jwks.py
Labels: test-google-googleServiceAccountKeyTest
