Repository uc-cdis/fence, pull requests merged in 2021-02, with the labels that each got.

#872 feat(cookies): always set httponly flag on cookies (also update deps) PXP-7593
  fence/__init__.py
  fence/utils.py
  poetry.lock
  tests/link/test_link.py
  tests/login/test_google_login.py
  tests/session/test_session.py
  tests/test_logout.py
Labels: test-apis-dbgapTest

#869 (PXP-6471): Update all user visas
  bin/fence_create.py
  fence/config-default.yaml
  fence/job/visa_update_cronjob.py
  fence/resources/openid/idp_oauth2.py
  fence/resources/openid/ras_oauth2.py
  fence/scripting/fence_create.py
  poetry.lock
  tests/ras/test_ras.py
Labels: test-google-googleServiceAccountRemovalTest

#860 (PXP-7167) Parse Visas
  bin/fence_create.py
  fence/blueprints/login/ras.py
  fence/config-default.yaml
  fence/job/visa_update_cronjob.py
  fence/scripting/fence_create.py
  fence/sync/passport_sync/base_sync.py
  fence/sync/passport_sync/ras_sync.py
  fence/sync/sync_users.py
  poetry.lock
  tests/dbgap_sync/conftest.py
  tests/dbgap_sync/test_user_sync.py
  tests/ras/test_ras.py
Labels: test-portal-homepageTest

#875 (PXP-7717): Implement ad-hoc usersync for single user after logging in through RAS
  fence/blueprints/login/ras.py
  fence/sync/sync_users.py
  tests/dbgap_sync/test_user_sync.py
Labels: test-apis-dbgapTest

#870 Fix/delete with no urls
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/indexd.py
  tests/data/test_data.py
Labels: test-apis-dataUploadTest
