Repository uc-cdis/fence, pull requests merged in 2021-04, with the labels that each got.

#893 (PXP-6693): Fix generation of signed upload urls for public Indexd records for authz-permitted users.
  .secrets.baseline
  fence/blueprints/data/indexd.py
  tests/conftest.py
  tests/data/test_data.py
Labels: test-apis-centralizedAuth, test-google-googleServiceAccountRemovalTest

#898 Swagger doc: add fence_idp to /oauth2/authorize endpoint
  .secrets.baseline
  openapis/swagger.yaml
Labels: doc-only

#904 Use PLANXCYBORG_GITHUB_TOKEN instead of GITHUB_TOKEN
  .github/workflows/wool.yml
Labels: test-portal-homepageTest

#890 Update fence to now include Okta as an OIDC Identity Provider
  fence/__init__.py
  fence/blueprints/login/__init__.py
  fence/blueprints/login/okta.py
  fence/config-default.yaml
  fence/resources/openid/okta_oauth2.py
  tests/login/test_login_redirect.py
  tests/test-fence-config.yaml
  tests/test_audit_service.py
Labels: test-apis-metadataIngestionTest
