Repository uc-cdis/fence, pull requests merged in 2021-12, with the labels that each got.

#986 (PXP-8992): Expire user policies and update Arborist username
  .secrets.baseline
  fence/resources/openid/ras_oauth2.py
  fence/sync/sync_users.py
  poetry.lock
  pyproject.toml
  tests/ras/test_ras.py
Labels: test-apis-dbgapTest, test-guppy-guppyTest

#993 Increase uWSGI timeouts to 60s.
  deployment/uwsgi/uwsgi.ini
Labels: test-google-googleServiceAccountKeyTest

#980 Add comments to Dockerfile
  Dockerfile
Labels: test-apis-dbgapTest
