Repository uc-cdis/fence, pull requests merged in 2021-01, with the labels that each got.

#855 docs(openapi): add idp to userinfo response docs
  openapis/swagger.yaml
Labels: doc-only

#858 fix(dependencies): Fix poetry lock command
  poetry.lock
  pyproject.toml
Labels: test-portal-dataUploadTest

#859 chore(builds): Speed up poetry commands by setting proper botocore version
  poetry.lock
  pyproject.toml
Labels: test-apis-dataUploadTest, test-apis-dbgapTest, test-portal-dataUploadTest, test-portal-indexingPageTest

#862 (PXP-7219) Update Fence to use latest gen3authz and cdiserrors
  fence/sync/sync_users.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/data/test_data.py
Labels: test-google-googleServiceAccountKeyTest, test-portal-dataUploadTest

#868 chore(google-manage-keys): Handle key deletion attempt that returns 400 FAILED_PRECONDITION
  fence/scripting/fence_create.py
Labels: test-google-googleServiceAccountKeyTest
