Repository uc-cdis/fence, pull requests merged in 2021-11, with the labels that each got.

#972 Feat/python3.6 buster
  Dockerfile
Labels: test-google-googleServiceAccountRemovalTest, test-apis-auditServiceTest

#968 feat(storage_expiration): add expires to db for Google access, create…
  .secrets.baseline
  bin/fence_create.py
  fence/models.py
  fence/resources/google/utils.py
  fence/resources/storage/__init__.py
  fence/scripting/fence_create.py
  fence/sync/sync_users.py
  tests/scripting/test_fence-create.py
Labels: test-apis-auditServiceTest

#977 PXP-9099 Fix redirection to default IDP in oauth2 flow
  .secrets.baseline
  fence/blueprints/login/__init__.py
  fence/blueprints/oauth2.py
  tests/conftest.py
  tests/login/test_fence_login.py
  tests/test-fence-config.yaml
Labels: test-apis-dbgapTest

#978 Remove app param from 'make_login_blueprint()'
  fence/__init__.py
  fence/blueprints/login/__init__.py
Labels: test-apis-dbgapTest

#973 (PXP-8682): Add visa validation and sync for data download
  .secrets.baseline
  fence/__init__.py
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/indexd.py
  fence/blueprints/ga4gh.py
  fence/blueprints/login/base.py
  fence/blueprints/login/ras.py
  fence/config-default.yaml
  fence/models.py
  fence/resources/ga4gh/passports.py
  fence/resources/openid/ras_oauth2.py
  fence/sync/passport_sync/ras_sync.py
  fence/sync/sync_users.py
  tests/dbgap_sync/conftest.py
  tests/dbgap_sync/test_user_sync.py
  tests/ga4gh/test_ga4gh.py
  tests/login/test_microsoft_login.py
  tests/ras/test_ras.py
  tests/test-fence-config.yaml
Labels: test-apis-dbgapTest

#981 feat(cfg): global cfg to disable allowing Passports->DRS as a method …
  fence/blueprints/data/indexd.py
  fence/blueprints/ga4gh.py
  fence/config-default.yaml
  tests/test_drs.py
Labels: test-portal-indexingPageTest, test-apis-metadataIngestionTest

#983 fix(google): pass storage creds into sync so Google Storage backend c…
  fence/blueprints/login/ras.py
  fence/resources/ga4gh/passports.py
Labels: test-apis-dbgapTest, portal-loginPageTest, test-portal-indexingPageTest, test-portal-loginPageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#984 Feat/create presigned url passports
  Dockerfile
  fence/blueprints/data/indexd.py
  fence/resources/google/utils.py
  poetry.lock
  pyproject.toml
  tests/test_drs.py
Labels: test-apis-dbgapTest
