Repository uc-cdis/fence, pull requests merged in 2022-02, with the labels that each got.

#1003 chore(migration): add authz column to project
  fence/models.py
Labels: test-apis-dbgapTest, test-google-googleServiceAccountKeyTest, test-google-googleServiceAccountRemovalTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1002 Only await healthy() if the client is async
  poetry.lock
  pyproject.toml
Labels: test-apis-dbgapTest

#1005 (PXP-9480): Improve sync_single_user_visas performance
  fence/blueprints/data/indexd.py
  fence/blueprints/login/ras.py
  fence/job/visa_update_cronjob.py
  fence/resources/ga4gh/passports.py
  fence/resources/openid/ras_oauth2.py
  fence/sync/sync_users.py
  gen3authz-1.5.0.tar.gz
  poetry.lock
  pyproject.toml
  tests/dbgap_sync/conftest.py
  tests/dbgap_sync/test_user_sync.py
  tests/ras/test_ras.py
Labels: test-portal-studyViewerTest

#1007 (PXP-9503): Fix access token polling so that it syncs authz info to Arborist
  gen3authz-1.5.0.tar.gz
  poetry.lock
  pyproject.toml
Labels: test-portal-studyViewerTest

#1006 PXP-4235 Add all the user's scopes to API keys
  fence/blueprints/admin.py
  fence/blueprints/storage_creds/api.py
Labels: test-apis-dbgapTest, test-google-googleServiceAccountKeyTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-apis-requestorTest
