Repository uc-cdis/fence, pull requests merged in 2022-06, with the labels that each got.

#1026 fix(grant storage access): honor `expires`
  fence/resources/storage/__init__.py
Labels: test-apis-etlTest

#964 Feat/passport
  .secrets.baseline
  bin/fence_create.py
  docs/ga4gh_passports.md
  docs/images/ga4gh/caching_after.png
  docs/images/ga4gh/caching_before.png
  docs/images/ga4gh/expiration.png
  docs/images/ga4gh/gen3_as_client.png
  docs/images/ga4gh/gen3_as_client_and_drs_server.png
  docs/images/ga4gh/gen3_as_drs.png
  docs/images/ga4gh/passport_jwt_handling.png
  docs/images/ga4gh/passport_to_drs_flow.png
  docs/images/ga4gh/users.png
  fence/__init__.py
  fence/auth.py
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/indexd.py
  fence/blueprints/ga4gh.py
  fence/blueprints/login/ras.py
  fence/blueprints/storage_creds/google.py
  fence/config-default.yaml
  fence/job/visa_update_cronjob.py
  fence/jwt/validate.py
  fence/models.py
  fence/resources/ga4gh/passports.py
  fence/resources/google/utils.py
  fence/resources/openid/idp_oauth2.py
  fence/resources/openid/ras_oauth2.py
  fence/resources/storage/__init__.py
  fence/resources/user/__init__.py
  fence/scripting/fence_create.py
  fence/sync/passport_sync/ras_sync.py
  fence/sync/sync_users.py
  fence/utils.py
  openapis/swagger.yaml
  poetry.lock
  pyproject.toml
  tests/admin/test_admin_projects.py
  tests/conftest.py
  tests/data/test_azure_blob_storage_indexed_file_location.py
  tests/data/test_blank_index.py
  tests/data/test_data.py
  tests/data/test_indexed_file.py
  tests/dbgap_sync/conftest.py
  tests/dbgap_sync/test_user_sync.py
  tests/ga4gh/test_ga4gh.py
  tests/ras/test_ras.py
  tests/scripting/test_fence-create.py
  tests/test-fence-config.yaml
  tests/test_audit_service.py
  tests/test_drs.py
  tests/utils/__init__.py
Labels: test-apis-OAuth2Test, test-apis-dbgapTest, test-portal-indexingPageTest, test-portal-loginPageTest, test-apis-centralizedAuth

#1025 fix(gs): ensure inmem cache exp getschecked
  fence/blueprints/data/indexd.py
  fence/resources/google/utils.py
  poetry.lock
  tests/data/test_indexed_file.py
Labels: test-apis-etlTest, test-apis-drsEndpointsTest

#1031 Update tom file for 6.0.1 release
  poetry.lock
  pyproject.toml
Labels: dependencies

#1030 (PXP-10115): fix test_user_sync_with_visa_sync_job flakiness
  .secrets.baseline
  tests/conftest.py
  tests/dbgap_sync/conftest.py
Labels: test-apis-etlTest
