Repository uc-cdis/fence, pull requests merged in 2022-10, with the labels that each got.

#1040 feat(session): change default to 15 minutes [PPS-122]
  .travis.yml
  README.md
  fence/config-default.yaml
Labels: test-apis-etlTest

#1051 PXP-10361 Allow specifying the upload bucket
  fence/__init__.py
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/indexd.py
  fence/config-default.yaml
  fence/resources/audit/client.py
  openapis/swagger.yaml
  tests/data/test_blank_index.py
  tests/data/test_data.py
  tests/test-fence-config.yaml
  tests/test_app_config.py
Labels: test-apis-dbgapTest

#1027 keep User _last_auth up to date
  fence/auth.py
  tests/login/test_login_user.py
Labels: skip-quay-build
