Repository uc-cdis/fence, pull requests merged in 2022-09, with the labels that each got.

#1037 fix(gs-cache): cleanup cache usage, don't try to save key_db_entry no…
  .travis.yml
  fence/blueprints/data/indexd.py
  poetry.lock
  tests/data/test_indexed_file.py
Labels: test-pidgin-getCoremetadataTest

#1044 Update buildpipeline.yaml
  .github/workflows/buildpipeline.yaml
Labels: doc-only

#1042 Update `GET /data/upload/<GUID>` default filename
  fence/blueprints/data/blueprint.py
  fence/sync/sync_users.py
  tests/data/test_data.py
  tests/dbgap_sync/test_user_sync.py
Labels: test-apis-metadataIngestionTest, test-guppy-guppyTest
