Repository uc-cdis/fence, pull requests merged in 2023-05, with the labels that each got.

#1092 allow setting INDEXD_PASSWORD via env var
  fence/config-default.yaml
  fence/config.py
Labels: test-portal-dataUploadTest, test-apis-centralizedAuth, test-apis-clientCredGrantTest, test-apis-presignedUrlTest, test-apis-userTokenTest, test-apis-oidcClientTest

#1094 PXP-10920 Support deleting data without GUID prefix
  fence/blueprints/data/indexd.py
  fence/sync/sync_users.py
Labels: test-apis-OAuth2Test

#1093 Remove libmhash2 dependency
  Dockerfile
Labels: test-portal-dataUploadTest

#1083 (PXP-10737): Add bucket_info region endpoint
  fence/blueprints/data/blueprint.py
  fence/config-default.yaml
  fence/local_settings.example.py
  fence/resources/google/access_utils.py
  openapis/swagger.yaml
  tests/test-fence-config.yaml
  tests/test_bucket_info.py
Labels: test-apis-drsEndpointsTest

#1096 Fix SQLAlchemyDriver warning
  .secrets.baseline
  fence/__init__.py
  fence/resources/google/utils.py
  fence/scripting/fence_create.py
  fence/sync/sync_users.py
  fence/utils.py
  migrations/versions/e4c7b0ab68d3_create_tables.py
  tests/dbgap_sync/conftest.py
  tests/scripting/conftest.py
  tests/scripting/test_fence-create.py
Labels: test-apis-dbgapTest, test-portal-dataUploadTest, test-apis-centralizedAuth

#1095 feat(backoff): Add backoff to give_service_account_billing_access
  .gitignore
  .secrets.baseline
  fence/resources/google/utils.py
  tests/google/test_access_utils.py
  tests/google/test_utils.py
Labels: test-apis-centralizedAuth

#1098 Handle empty fields in usersync _parse_csv()
  fence/sync/sync_users.py
  tests/dbgap_sync/data/csv/authentication_file_phs000178.txt
Labels: test-portal-dataUploadTest, test-apis-centralizedAuth

#1097 fix(PXP-10939): Fixing bad references and weird merge
  fence/resources/google/access_utils.py
Labels: test-portal-dataUploadTest, test-apis-centralizedAuth

#1100 Use access_utils google methods correctly
  fence/resources/google/access_utils.py
  fence/sync/sync_users.py
  tests/google/test_access_utils.py
Labels: test-apis-dbgapTest, test-apis-centralizedAuth
