Repository uc-cdis/fence, pull requests merged in 2023-12, with the labels that each got.

#1124 Feat/metrics
  fence/blueprints/data/indexd.py
Labels: test-apis-dbgapTest, test-apis-centralizedAuth

#1125 Fix MFA policy management with unknown users
  fence/sync/sync_users.py
  tests/dbgap_sync/test_user_sync.py
Labels: test-apis-dataUploadTest

#1128 fix get returns none type
  fence/blueprints/data/indexd.py
Labels: test-portal-dataUploadTest

#1129 Update indexd.py
  fence/blueprints/data/indexd.py
Labels: test-apis-OAuth2Test, test-apis-dbgapTest, test-apis-centralizedAuth
