Repository uc-cdis/fence, pull requests merged in 2024-07, with the labels that each got.

#1165 PXP-11364 handle csv ordering with userinfo
  fence/sync/sync_users.py
Labels: test-apis-centralizedAuth

#1166 Fix/metrics
  .secrets.baseline
  clear_prometheus_multiproc
  fence/metrics.py
  tests/ci_commands_script.sh
  tests/conftest.py
Labels: @requires-fence

#1156 Prometheus metrics support for logins and presigned URLs
  .secrets.baseline
  clear_prometheus_multiproc
  fence/__init__.py
  fence/blueprints/data/indexd.py
  fence/blueprints/ga4gh.py
  fence/blueprints/login/base.py
  fence/blueprints/login/google.py
  fence/config-default.yaml
  fence/metrics.py
  openapis/swagger.yaml
  poetry.lock
  pyproject.toml
  tests/ci_commands_script.sh
  tests/conftest.py
  tests/login/test_base.py
  tests/test_app_config.py
  tests/test_metrics.py
  tests/utils/metrics.py
Labels: test-apis-dbgapTest, test-apis-centralizedAuth

#1164 Reorganizing fence documentation.
  README.md
  docs/additional_documentation/authorization.md
  docs/additional_documentation/data_access.md
  docs/additional_documentation/dbgap_info.md
  docs/additional_documentation/default_expiration_times.md
  docs/additional_documentation/fence-create-deprecated.md
  docs/additional_documentation/fence_create.md
  docs/additional_documentation/fence_multifactor_authentication_guide.md
  docs/additional_documentation/fence_shibboleth.md
  docs/additional_documentation/ga4gh_passports.md
  docs/additional_documentation/google_architecture.md
  docs/additional_documentation/local_multi_fence.md
  docs/additional_documentation/quickstart_helm.md
  docs/additional_documentation/register.md
  docs/additional_documentation/setup.md
  docs/additional_documentation/terminology.md
  docs/additional_documentation/token_management.md
  docs/additional_documentation/user.yaml_guide.md
  docs/additional_documentation/usersync.md
  docs/azure/azure_architecture.md
  docs/azure/azure_devops_pipeline.md
  docs/azure/azure_devops_pipeline_config_1.png
  docs/azure/azure_devops_pipeline_config_2.png
  docs/azure/azure_devops_pipeline_config_3.png
Labels: @requires-fence
