Repository uc-cdis/fence, pull requests merged in 2024-04, with the labels that each got.

#1140 Update base user.yaml to pass validation
  docs/base_user.yaml
Labels: test-portal-homepageTest, @requires-fence

#1141 (PPS-809): upgrade cryptography to 42.0.5
  poetry.lock
  pyproject.toml
Labels: test-apis-centralizedAuth

#1143 backoff.exception for sftp connection
  fence/sync/sync_users.py
  tests/dbgap_sync/test_user_sync.py
Labels: test-apis-OAuth2Test, test-apis-dbgapTest, test-apis-centralizedAuth, test-apis-oidcClientTest
