Repository uc-cdis/fence, pull requests merged in 2024-09, with the labels that each got.

#1182 dependency updates
  poetry.lock
  pyproject.toml
Labels: test-apis-dbgapTest, test-apis-centralizedAuth

#1177 fix(PXP-11385): Adds single user google group updates
  fence/resources/google/access_utils.py
  fence/resources/google/utils.py
  fence/resources/storage/__init__.py
  fence/sync/sync_users.py
  tests/dbgap_sync/test_user_sync.py
  tests/google/conftest.py
  tests/google/test_access_utils.py
Labels: test-apis-dbgapTest

#1186 Bump version in pyproject.toml
  pyproject.toml
Labels: @requires-fence

#1187 Add GH action workflow for integration tests
  .github/labeler.yml
  .github/workflows/integration_tests.yaml
  .github/workflows/labeler.yml
  Jenkinsfile
Labels: @requires-fence
