Repository uc-cdis/fence, pull requests merged in 2024-08, with the labels that each got.

#1147 Upload to existing indexd record
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/indexd.py
  openapis/swagger.yaml
  poetry.lock
  tests/data/test_data.py
Labels: test-apis-dbgapTest, test-apis-centralizedAuth

#1171 Automated copy feat/s3 delete files
  fence/__init__.py
  fence/blueprints/data/blueprint.py
  fence/blueprints/data/multipart_upload.py
  fence/resources/aws/boto_manager.py
  tests/data/test_boto_manager.py
Labels: test-apis-centralizedAuth

#1172 Remove Foreign Key Constraints for Service Account
  migrations/versions/9b3a5a7145d7_authlib_update_1_2_1.py
  tests/migrations/test_9b3a5a7145d7.py
Labels: test-apis-dbgapTest, test-apis-centralizedAuth

#1174 Update version in toml
  poetry.lock
  pyproject.toml
Labels: test-apis-centralizedAuth

#1176 add session token
  fence/blueprints/data/indexd.py
  fence/blueprints/data/multipart_upload.py
Labels: test-apis-dataUploadTest, test-apis-centralizedAuth, test-apis-auditServiceTest

#1179 Fix/presigned url addressing style
  fence/blueprints/data/indexd.py
  fence/blueprints/data/multipart_upload.py
  pyproject.toml
Labels: test-apis-dbgapTest
