Repository uc-cdis/fence, pull requests merged in 2025-04, with the labels that each got.

#1240 PPS-1817 bump cryptography
  poetry.lock
  pyproject.toml
Labels: TestCentralizedAuth, TestOauth2, TestRasAuthN

#1246 PPS-1928 bump jinja2
  poetry.lock
  pyproject.toml
Labels: TestCentralizedAuth

#1247 Clarify what the MAX_ACCESS_TOKEN_TTL setting is
  fence/config-default.yaml
  fence/config.py
  fence/local_settings.example.py
  tests/test-fence-config.yaml
Labels: TestCentralizedAuth

#1245 Feat/ip
  fence/auth.py
  fence/blueprints/data/indexd.py
  pyproject.toml
  tests/login/test_login_user.py
Labels: TestOauth2, TestRasAuthN
