Repository uc-cdis/fence, pull requests merged in 2025-05, with the labels that each got.

#1250 Fix/registration digest method
  fence/__init__.py
  poetry.lock
  pyproject.toml
Labels: TestCentralizedAuth

#1236 Add native docker builds
  .github/workflows/ci.yaml
Labels: TestDataUpload

#1258 Unit tests: check that Prometheus is configured correctly
  tests/ci_commands_script.sh
  tests/utils/metrics.py
Labels: TestDbgap, TestRasAuthN
